.fslightbox-container {
<<<<<<< HEAD
  //font-family: sans-serif;
=======
  font-family: Helvetica, sans-serif;
>>>>>>> c144f295fbeb303661843a88ea330b1a33665300
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.91), white 1810%);
  z-index: 9999999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  * {
    box-sizing: border-box;
  }
}
