.fslightbox-slide-number-container {
  height: 100%;
<<<<<<< HEAD
  font-size: 14px;
  color: #fff;
=======
  font-size: 15px;
  color: #d7d7d7;
>>>>>>> c144f295fbeb303661843a88ea330b1a33665300
  z-index: 0;
  max-width: 55px;
  background: rgba(#d23a32, 0.9);
  div {
    padding: 0 2px;
  }
}

.fslightbox-slash {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
}
